<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd 
import numpy as np


source_url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'
iowa_df = pd.read_csv(source_url)

In [0]:
# Start inspection of the data 
iowa_df.head(5)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [0]:
# pull states on a column 
iowa_df['LotArea'].describe()
# iowa_df.describe()

#Change max num of rows to be displayed 
pd.set_option('display.max_rows', 100)

# column types 
iowa_df.dtypes[:8]

# Pull random set of rows from the columns defined in search
iowa_df[['BedroomAbvGr','Fireplaces']].sample(4)

# Makes new column with equal data from another column
iowa_df['fire places are nice and hot'] = iowa_df['Fireplaces']
iowa_df[['fire places are nice and hot','Fireplaces', 'BedroomAbvGr']].head(2)
iowa_df['LotFrontage'].head(2)

# show counts of how many times a value happens and include NaN values 
iowa_df['LotFrontage'].value_counts(dropna=False)

# NaN values are floats according to numpy which converts  the int for 
# "LotFrontage" in to floats by default
type(np.nan)

# returnes value of null values in "LotFrontage"
iowa_df["LotFrontage"].isnull().sum()

# drop missing data
iowa_df['LotFrontage'].dropna(inplace=True)

# check to make sure the null values are gone
iowa_df["LotFrontage"].isnull().sum()

# make smaller data frame by coping only the columns needed
small_df = iowa_df[['TotalBsmtSF','1stFlrSF','2ndFlrSF','SalePrice']].copy()
small_df.head()

# Add values of columns to make new column and add to DF
small_df['TotalSF'] = small_df['TotalBsmtSF']+small_df['1stFlrSF']+small_df['2ndFlrSF']
small_df.head()

# get Sq foot price by dividing saleprice by total sf
small_df['PricePerSF'] = small_df['SalePrice'] / small_df['TotalSF']
small_df.head()

# column names 
iowa_df.columns

iowa_df[['LotShape', 'Alley', 'Street', 'SaleCondition']].head()

iowa_df['SaleCondition'].value_counts()

# Make new column with a test to see if the Value of one column is set to normal Yes/No
iowa_df['NormalCondition'] = np.where(iowa_df['SaleCondition']=='Normal','Yes', 'No')
iowa_df['NormalCondition'].value_counts()

iowa_df['LotShape'].value_counts()

# Convert text from one column to another one with more user friendly readabilty 
iowa_df['LotShape3']= iowa_df['LotShape'].map({'Reg':'Regular','IR1':'Irregular','IR2':'Other','IR3':'Other'})
iowa_df[['LotShape','LotShape3']].head(3)

# Make new column all values = all others then search another list if there is a match 
# with the test then take the a specific value and replace 'all other' value in that row with said value
iowa_df['top_neighbors']='All others'
iowa_df.loc[iowa_df['Neighborhood']=='NAmes', 'top_neighbors']='north ames neighbors'
iowa_df.loc[iowa_df['Neighborhood']=='CollgCr', 'top_neighbors']='creek neighbors'
iowa_df.loc[iowa_df['Neighborhood']=='Gilbert', 'top_neighbors']='gilbert neighbors'
iowa_df['top_neighbors'].value_counts()

pd.crosstab(iowa_df['top_neighbors'], iowa_df['LotShape3'])

pd.crosstab(iowa_df['top_neighbors'], iowa_df['LotShape3'], margins=True)

pd.crosstab(iowa_df['top_neighbors'], iowa_df['LotShape3'], normalize='index', margins=True)

# myresults = pd.crosstab(iowa_df['top_neighbors'], iowa_df['LotShape3'])
# myresults.plot(kind='bar');

# myresults = pd.crosstab(iowa_df['LotShape3'], iowa_df['top_neighbors'])
# myresults.plot(kind='barh');

LotShape3             Irregular     Other   Regular
top_neighbors
All others             0.310139  0.026839  0.663022
creek neighbors        0.353333  0.073333  0.573333
gilbert neighbors      0.670886  0.139241  0.189873
north ames neighbors   0.293333  0.008889  0.697778
All                    0.331507  0.034932  0.633562

In [32]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-17 01:07:49--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [        <=>         ]  21.71M  1.62MB/s    in 14s

2020-03-17 01:08:03 (1.61 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22763850]

In [33]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [77]:
loans_df = pd.read_csv('LoanStats_2018Q4.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [78]:
loans_df = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2,engine='python')
loans_df.tail(7)

        id  member_id  ...  settlement_percentage  settlement_term
128277 NaN        NaN  ...                    NaN              NaN
128278 NaN        NaN  ...                    NaN              NaN
128279 NaN        NaN  ...                    NaN              NaN
128280 NaN        NaN  ...                    NaN              NaN
128281 NaN        NaN  ...                    NaN              NaN
128282 NaN        NaN  ...                    NaN              NaN
128283 NaN        NaN  ...                    NaN              NaN

[7 rows x 144 columns]

In [41]:
# Test to find solution
# terms = '36 months'
# terms.strip(' months')

# # Remove the string func
# def rem_month(data):
#   return int(data.strip().strip(' months'))
# # make a place holder list with need values from fuction
# new_list = []
# for cell in loans_df['term']:
#   new_list.append(rem_month(cell))
# # make place holder values in to column of df
# loans_df['term_num']= pd.Series(new_list)
# loans_df[['term','term_num']].head()
# loans_df['term'] = loans_df['term'].apply(rem_month)
loans_df['term']

0         60
1         36
2         36
3         60
4         60
          ..
128279    36
128280    36
128281    36
128282    36
128283    36
Name: term, Length: 128284, dtype: int64

In [46]:
loans_df.head()

   id  member_id  loan_amnt  ...  settlement_term  term_num  loans_status_is_great
0 NaN        NaN      10000  ...              NaN        60                      1
1 NaN        NaN       6500  ...              NaN        36                      1
2 NaN        NaN       4500  ...              NaN        36                      1
3 NaN        NaN      25000  ...              NaN        60                      0
4 NaN        NaN      30000  ...              NaN        60                      1

[5 rows x 146 columns]

In [43]:
# Bool test to see if column = certin values 
loans_df['loans_status_is_great']=0
loans_df.loc[loans_df['loan_status']=='Current', 'loans_status_is_great']= 1 
loans_df.loc[loans_df['loan_status']=='Fully Paid', 'loans_status_is_great']= 1
loans_df[['loans_status_is_great','loan_status']].head(10)

   loans_status_is_great         loan_status
0                      1          Fully Paid
1                      1             Current
2                      1          Fully Paid
3                      0  Late (31-120 days)
4                      1             Current
5                      1             Current
6                      1             Current
7                      1             Current
8                      1          Fully Paid
9                      1          Fully Paid

In [79]:
mylist = []
for col in loans_df.columns:
  if col.endswith('_d'):
    mylist.append(col)
mylist

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [91]:
# last_pymnt_d_year
# last_pymnt_d_month

# breakdown last_pymnt_d
loans_df['last_pymnt_d_new'] = pd.to_datetime(loans_df['last_pymnt_d'], infer_datetime_format=True)
loans_df['last_pymnt_d_year'] = loans_df['last_pymnt_d_new'].dt.year
loans_df['last_pymnt_d_month'] = loans_df['last_pymnt_d_new'].dt.month
loans_df['last_pymnt_d_month']

0          5.0
1          2.0
2          2.0
3         10.0
4          2.0
          ...
128279    12.0
128280     2.0
128281     2.0
128282     2.0
128283     2.0
Name: last_pymnt_d_month, Length: 128284, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01